@import "tailwindcss";

:root {
    --light-color: #1e1e1e;
    --light-color-transparent: rgba(12, 21, 66, 0.5);
    --dark-color: #0b0b0b;
    --lighter-color: #16207b;
}

@theme {
    --color-light-color: var(--light-color);
    --color-light-color-transparent: var(--light-color-transparent);
    --color-dark-color: var(--dark-color);
    --color-text-color: #ffffff;
    --color-lighter-color: var(--lighter-color)
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color);
    overflow: hidden;
    margin: 0;
}

#nav-bar {
    width: 100%;
    height: 10vh;
    background-color: var(--light-color);
    color:white;
    border-bottom: 1px solid black;
    
    display: flex;
    align-items: center;
}

#nav-logo {
    margin: 10px;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif
}

#nav-links {
    margin: 5%;
    width: 20%;
}

.nav-link {
    margin: 20%;
    font-size: 1.3rem;
}

.nav-link:link {
    color: white;
  }
  
  /* visited link */
  .nav-link:visited {
    color: white;
  }
  
  /* mouse over link */
  .nav-link:hover {
    color: white;
  }
  
  /* selected link */
  .nav-link:active {
    color: white;
  }
